services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: whusnet-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./public/storage:/var/www/public/storage
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: whusnet-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: whusnet-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: admin-payment
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: admin
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel

  
  node:
    image: node:20
    container_name: nodeJS
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - /var/www/node_modules
    networks:
      - laravel
    ports:
      - "3000:3000" # port Tailwind dev server
    command: bash -c "npm install && npm run dev"


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: whusnet-db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    networks:
      - laravel

networks:
  laravel:

volumes:
  dbdata:
